div.work-area{
    width: auto;
    height: auto;
    text-align: center;
    font-style: italic;
}
div.menu{
    border: 1px;
    text-align: right;
}
img.d-block{
    max-height: 520.5px;
    width: 100%;
}
img.rounded-pill{
    max-width: 80px;
}
div.concentrado{
    padding: 25px;
    margin: initial;
    text-align: center;
}
div.footer{
    padding: 10px;
    background-color:#198b47;
    height: 100px;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0px;
}
@media (min-width: 750px) {
    .carousel{
        height: 521px;
        min-height: 521px;
        max-height: 521px;
    }
}
.container-fluid{
    background: #198b47;
}
.navbar navbar-expand-sm navbar-dark{
    padding: 0;
}
.btn{
    background-color: #ffc107;
}