.title{
    text-align: center;
    font-size: larger;
}
nav {
    display: flex;
    justify-content: space-around;
    width: auto;
}
.work-area{
    max-width: 1400px;
    height: auto;
    text-align: center;
    margin: 35%;
}